.main {
	background-color: pink;
	width: 100%;
	height: 100%;
}
.button {
	background-color: pink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    border: 5px solid white;
}
#generate {
    background-color: green;
}
#print {
    background-color: orange;
}
.button:hover {
    border:5px solid #999;
    color:#000;
    background-color: red!important;
}
